.dark {
  --color-bg-primary: #050505;
  --color-text-primary: #fff
}
.light{
  --color-bg-primary: #ffff;
  --color-text-primary: #050505
}

@tailwind base;
@tailwind components;
@tailwind utilities;
  
